{{> _loading}}
<div class="availabilities container card glass p-4 my-3">
    <div class="d-flex justify-content-between align-items-center row">
        <h1 class="m-0 col-10">{{title}}</h1>
        <div class="dropdown col">
            <button class="btn btn-warning dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Select Month
            </button>
            <ul class="dropdown-menu" data-target="month-dropdown">
                {{#each month}}
                <li><a class="dropdown-item" href="/availability?month={{@index}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{#if selectedMonth includeZero=true}}
<div class="availabilities container">
    <div class="text-center my-3">
        <h2 class="fw-bold">{{formatDate startOfMonth 'MMMM YYYY'}} Availabilities</h2>
    </div>
    <table class="table-sm text-center calendar my-4">
        <thead>
            <tr class="day-of-week">
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            {{#each weeks}}
            {{!-- <tr class="table-light">
                {{#each this}}
                {{#ifEquals this.dateString ''}}
                <th></th>
                {{else}}
                <th>{{formatDate this.dateString 'D MMM'}}</th>
                {{/ifEquals}}
                {{/each}}
            </tr> --}}
            <tr>
                {{#each this}}
                <td class="pt-3">
                    {{#ifEquals this.dateString ''}}
                    <div></div>
                    {{else}}
                    <div class="day-of-month">{{formatDate this.dateString 'D'}}</div>
                    {{/ifEquals}}
                    {{#if (isWeekend this.dateString)}}
                    <div></div>
                    {{else}}
                    <div class="calendar-content">
                        {{#if this.sortedShift1}}
                        <div class="mb-3">
                            <h6>
                                Shfit 1 (<span
                                    class="{{shiftIndex this.sortedShift1.length}}">{{this.sortedShift1.length}}</span>)
                            </h6>
                            <div class="SAC">
                                <ol>
                                    {{#each this.sortedShift1}}
                                    <li>{{this.fields.Name}}</li>
                                    {{/each}}
                                </ol>
                            </div>
                        </div>
                        {{/if}}
                        {{#if this.sortedShift2}}
                        <div>
                            <h6>
                                Shfit 2 (<span
                                    class="{{shiftIndex this.sortedShift2.length}}">{{this.sortedShift2.length}}</span>)
                            </h6>
                            <div class="SAC">
                                <ol>
                                    {{#each this.sortedShift2}}
                                    {{#ifEquals this.sortedShift2 ''}}
                                    <div>
                                        <h6 class="text-danger">No SAC Available!</h6>
                                    </div>
                                    {{else}}
                                    <li>{{this.fields.Name}}</li>
                                    {{/ifEquals}}
                                    {{/each}}
                                </ol>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{/if}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<div class="empty container">
    <h3 class="text-danger text-center mt-4">Please select a month</h3>
</div>
{{/if}}