<div class="availabilities container card glass p-4 my-3">
    <h1 class="mb-3">{{title}}</h1>

    <table id="availabilities" class="table table-striped">
        <thead>
            <tr>
                <th>#No</th>
                <th>Full Name</th>
                <th>Batch</th>
                <th>Date Available</th>
                <th>Shift Type</th>
            </tr>
        </thead>
        <tbody>
            {{#each SAC}}
            <tr>
                <td>{{@index}}</td>
                <td>{{fullname}}</td>
                <td>{{batchNo}}</td>
                <td>{{formatDate dateAvailable 'DD MMM YYYY'}}</td>
                <td>{{shiftType}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#availabilities').DataTable();
    });
</script>