{{> _loading}}
<div class="schedule container card glass p-4 my-3">
    <div class="d-flex justify-content-between align-items-center row">
        <h1 class="m-0 col-8">{{title}}</h1>
        <div class="col-2 pe-0">
            {{#if selectedMonth includeZero=true}}
            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#stats">
                Allocation Stats
            </button>
            {{/if}}

            <!-- Modal -->
            <div class="modal fade" id="stats" tabindex="-1" aria-labelledby="statsLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="statsLabel">
                                Allocation Statistics
                            </h1>
                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <table class="table table-sm stats">
                                <tr>
                                    <th class="w-50">SAC</th>
                                    <th>No. of shift allocated</th>
                                </tr>
                                {{#each sortedShiftFrequency}}
                                <tr>
                                    <td>{{@key}} </td>
                                    <td>{{this}}</td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                        <div class="modal-footer">
                            <p class="note text-muted">
                                Please note that although the algorithm attempts to distribute shifts evenly among all
                                available SACs, it has its limitations (for now). It does not factor in previous day
                                shift allocations, which could result SAC being assigned to shifts on two
                                or more consecutive days.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown col-2">
            <button class="btn btn-warning dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Select Month
            </button>
            <ul class="dropdown-menu" data-target="month-dropdown">
                {{#each month}}
                <li><a class="dropdown-item" href="/schedule?month={{@index}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{#if selectedMonth includeZero=true}}
<div class="schedule container mb-4">
    <div class="text-center my-3">
        <h2 class="fw-bold">Makerspace Duty Roster</h2>
        <h3 class="fw-bold">{{formatDate startOfMonth 'MMMM YYYY'}}</h3>
    </div>
    <table class="table-sm text-center calendar">
        <thead>
            <tr class="day-of-week">
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            {{#each weeklySchedule}}
            {{!-- <tr class="table-light">
                {{#each this}}
                {{#ifEquals this.date ''}}
                <th></th>
                {{else}}
                <th>{{formatDate this.date 'D MMM'}}</th>
                {{/ifEquals}}
                {{/each}}
            </tr> --}}
            <tr>
                {{#each this}}
                <td class="px-3 pb-3">
                    {{#ifEquals this.date ''}}
                    <div></div>
                    {{else}}
                    <div class="day-of-month">{{formatDate this.date 'D'}}</div>
                    <div class="calendar-content">
                        {{#unless (isWeekend this.date)}}
                        <div>
                            <h6>Shift 1</h6>
                            <div class="SAC">
                                <ol>
                                    {{#each this.shift1}}
                                    <li class="{{#isSAC this.name}}{{/isSAC}}">
                                        {{this.name}}
                                    </li>
                                    {{/each}}
                                </ol>
                            </div>
                        </div>
                        <div>
                            <h6>Shift 2</h6>
                            <div class="SAC">
                                <ol>
                                    {{#each this.shift2}}
                                    <li class="{{#isSAC this.name}}{{/isSAC}}">
                                        {{this.name}}
                                    </li>
                                    {{/each}}
                                </ol>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn-3d btn-3d-outline" data-bs-toggle="modal"
                            data-bs-target="#D-{{formatDate this.date 'YYYYMMDD'}}">
                            View Shift
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="D-{{formatDate this.date 'YYYYMMDD'}}" tabindex="-1"
                            aria-labelledby="D-{{formatDate this.date 'YYYYMMDD'}}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="D-{{formatDate this.date 'YYYYMMDD'}}Label">
                                            {{formatDate this.date 'DD MMM YYYY, dddd'}}
                                        </h1>
                                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5>Shift 1</h5>
                                                <div>
                                                    <h6>Allocated</h6>
                                                    <ol class="SAC">
                                                        {{#each this.shift1}}
                                                        <li class="{{#isSAC this.name}}{{/isSAC}}">
                                                            {{this.name}}
                                                        </li>
                                                        {{/each}}
                                                    </ol>
                                                </div>
                                                <div>
                                                    <h6>Available</h6>
                                                    {{#if this.availableShift1}}
                                                    <ol class="SAC">
                                                        {{#each this.availableShift1}}
                                                        <li class="{{#isSAC this.name}}{{/isSAC}}">
                                                            {{this.name}}
                                                        </li>
                                                        {{/each}}
                                                    </ol>
                                                    {{else}}
                                                    <div class="note">
                                                        No other SAC available.
                                                    </div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h5>Shift 2</h5>
                                                <div>
                                                    <h6>Allocated</h6>
                                                    <ol class="SAC">
                                                        {{#each this.shift2}}
                                                        <li class="{{#isSAC this.name}}{{/isSAC}}">
                                                            {{this.name}}
                                                        </li>
                                                        {{/each}}
                                                    </ol>
                                                </div>
                                                <div>
                                                    <h6>Available</h6>
                                                    {{#if this.availableShift2}}
                                                    <ol class="SAC">
                                                        {{#each this.availableShift2}}
                                                        <li class="{{#isSAC this.name}}{{/isSAC}}">
                                                            {{this.name}}
                                                        </li>
                                                        {{/each}}
                                                    </ol>
                                                    {{else}}
                                                    <div class="note">
                                                        No other SAC available.
                                                    </div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/unless}}
                        </div>
                        {{/ifEquals}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<div class="empty container">
    <h3 class="text-danger text-center mt-4">Please select a month</h3>
</div>
{{/if}}