{{> _loading}}
<form action="/submitAvailability/add" method="POST" id="availabilityForm" class="h-100 d-flex flex-column">
    <div class="container card glass p-4 my-3">
        <div class="d-flex justify-content-between align-items-center row mb-3">
            <h1 class="m-0 col-10">{{title}}</h1>
            <div class="dropdown col">
                <button class="btn btn-warning dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Select Month
                </button>
                <ul class="dropdown-menu" data-target="month-dropdown">
                    {{#each month}}
                    <li><a class="dropdown-item" href="/submitAvailability?month={{@index}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-10 pe-0">
                <select id="SAC" name="SAC" class="form-select">
                    <option selected disabled>Select SAC</option>
                    {{#each SAC}}
                    <option value="{{this.id}}">{{this.batch}} | {{this.fullname}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col">
                <button type="submit" id="submitBtn" class="w-100 btn btn-primary">Submit</button>
            </div>
            <input type="hidden" name="selectedSAC" id="selected-sac-input" />
            <div id="spinner" class="mt-1" style="display: none;">
                <i class="fa fa-spinner fa-spin"></i> Submitting...
            </div>
        </div>
    </div>
    <div class="container">
        {{#if error}}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-circle-exclamation me-3"></i>
            <div>
                {{error}}
            </div>
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{#if success}}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-circle-check me-3"></i>
            <div>
                {{success}}
            </div>
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    </div>

    {{#if selectedMonth includeZero=true}}
    <div class="submit container">
        <div class="row">
            <div class="col d-flex flex-column align-items-start justify-content-center ms-3 text-muted fw-bold">
                <div>
                    <i class="fa-solid fa-school me-2"></i> School Term Shifts
                </div>
                <div>
                    <i class="fa-solid fa-umbrella-beach me-2"></i> Holiday Term Shifts
                </div>
            </div>
            <div class="text-center my-3 col-6">
                <h2 class="fw-bold">Availability for {{formatDate startOfMonth 'MMMM YYYY'}}</h2>
            </div>
            <div class="col d-flex align-items-center justify-content-end me-3">
                <div class="text-muted fw-bold me-2">Toggle Holiday Shifts</div>
                <label class="switch">
                    <input type="checkbox" id="switch">
                    <span class="slider-main round"></span>
                </label>
            </div>
        </div>

        <table id="calendar" class="table-sm text-center calendar mb-4">
            <thead>
                <tr class="day-of-week">
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                <div>
                    {{#each weeks}}
                    {{!-- <tr class="table-light">
                        {{#each this}}
                        {{#ifEquals this ''}}
                        <th></th>
                        {{else}}
                        <th>{{formatDate this 'D MMM'}}</th>
                        {{/ifEquals}}
                        {{/each}}
                    </tr> --}}
                    <tr>
                        {{#each this}}
                        {{#ifEquals this ''}}
                        <td></td>
                        {{else}}
                        <td class="shift-types">
                            <div class="day-of-month">{{formatDate this 'D'}}</div>
                            {{#if (isWeekend this)}}
                            <div></div>
                            {{else}}
                            <div class="calendar-content">
                                <div class="d-flex flex-column term-shifts ">
                                    <label for="TS1-{{formatDate this 'YYYY-MM-DD'}}" class="checkbox-item">
                                        <input type="checkbox" name="shifts" id="TS1-{{formatDate this 'YYYY-MM-DD'}}"
                                            value="TS1-{{formatDate this 'YYYY-MM-DD'}}">
                                        <span class="checkbox-label"><i class="fa-solid fa-school mx-1"></i> Shift 1</span>
                                    </label>
                                    <label for="TS2-{{formatDate this 'YYYY-MM-DD'}}" class="checkbox-item">
                                        <input type="checkbox" name="shifts" id="TS2-{{formatDate this 'YYYY-MM-DD'}}"
                                            value="TS2-{{formatDate this 'YYYY-MM-DD'}}">
                                        <span class="checkbox-label"><i class="fa-solid fa-school mx-1"></i> Shift 2</span>
                                    </label>
                                </div>
                                <div class="d-flex flex-column holiday-shifts d-none">
                                    <label for="HS1-{{formatDate this 'YYYY-MM-DD'}}" class="checkbox-item">
                                        <input type="checkbox" name="shifts" id="HS1-{{formatDate this 'YYYY-MM-DD'}}"
                                            value="HS1-{{formatDate this 'YYYY-MM-DD'}}">
                                        <span class="checkbox-label"><i class="fa-solid fa-umbrella-beach mx-1"></i> Shift
                                            1</span>
                                    </label>
                                    <label for="HS2-{{formatDate this 'YYYY-MM-DD'}}" class="checkbox-item">
                                        <input type="checkbox" name="shifts" id="HS2-{{formatDate this 'YYYY-MM-DD'}}"
                                            value="HS2-{{formatDate this 'YYYY-MM-DD'}}">
                                        <span class="checkbox-label"><i class="fa-solid fa-umbrella-beach mx-1"></i> Shift
                                            2</span>
                                    </label>
                                </div>
                            </div>

                            {{/if}}
                        </td>
                        {{/ifEquals}}
                        {{/each}}
                    </tr>
                    {{/each}}
                </div>
            </tbody>
        </table>
    </div>
    {{else}}
    <div class="empty container">
        <h3 class="text-danger text-center mt-4">Please select a month</h3>
    </div>
    {{/if}}
</form>

<script>
    const switchToggle = $('#switch');
    const termShifts = $('.term-shifts');
    const holidayShifts = $('.holiday-shifts');

    $(document).ready(function () {
        switchToggle.change(function () {
            termShifts.find('input[type=checkbox]').prop('checked', false);
            holidayShifts.find('input[type=checkbox]').prop('checked', false);
            if ($(this).prop('checked')) {
                holidayShifts.removeClass('d-none').hide().fadeIn(300);
            } else {
                holidayShifts.addClass('d-none');
            }
        });
    })
</script>